/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
}

/* ==================================== Header Section ====================================*/

/* Header */
.header {
    width: 100%;
    height: auto;
    background: linear-gradient(rgb(27, 21, 107, 0.9),rgb(27, 21, 107, 0.9)), 
        url('./img/hero-bg-2.jpg') no-repeat center center/cover;
    color: white;
    position: relative;
    /* padding-bottom: 5px; */
    border-bottom: 10px groove #c9c7dc;
    
}

/*============================= Navigation Bar Section ============================*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
}

.nav-toggler {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Nav Menu */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-menu li {
    position: relative;
}

.nav-menu a {
    text-decoration: none;
    color: #babad2;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-menu a:hover {
    text-decoration: underline #1acc8e;
    color: white;
    
}

/* Dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    display: block;
}

.dropdown-menu li a:hover {
    background: #1acc8e;
    color: white;
}

/*=========================================== Header Banner ========================================*/
.banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.banner-content {
    max-width: 600px;
    text-align: center;
}

.banner-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 60px;
    color: #babad2;
    text-align: justify;
}

.banner-title-underline {
    text-decoration: underline #1acc8e;
    color: white;
}

.banner-description {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 60px;
    color: #babad2;
}

/* Buttons */
.btn-green {
    border-radius: 30px;
    background: #1acc8e;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: -130px;
}

.btn-bg-none {
    border: none;
    background: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-green:hover,
.btn-bg-none:hover {
    opacity: 0.9;
}

#play-icon {
    color: #1acc8e;
    font-size: 20px;
    
}

/* Banner Image */
.banner-img {
    /* max-width: 50%;
    height: auto; */
    width: 300px;
    margin-right: 160px;
    margin-bottom: 30px;
}


/* ============================= Section 1 => About Us ===================================*/

.about-us{
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 70px;
    background-color: #ffffff;
}
/* about head */
.about-head{
    color: #67cd8d;
    background-color: #f3fcf9;
    padding: 5px;
    margin-right: 83%;
    margin-left: 10px;
    margin-bottom: 0;
    
}
.card-text{
    text-align: justify;
}
/* section 1 card icon */
#s1-cd-icon{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f3fcf9;
    color: #1acc8e;
    border-radius: 100px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: auto;
    font-size: 25px;
    
}
/* card-title color */
#cd-title{
    color: #040677;
    font-weight: bolder;
}
/* card 2 & 4 */
#cd-2, #cd-4{
    margin-top: -40px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .about-head {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .card-body {
        text-align: center;

    }
}

/* ======================== Section 2 & 3 Mini Cards ============================*/
.icon-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
    transition: box-shadow 0.3s ease;
    background-color: #ffffff;
    color: #686969;
    margin-bottom: 0px;
}

.icon-box:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

h2 {
    margin-bottom: 40px;
}

p {
    font-size: 14px;
}
/* section 3 */
.s3-min-cd{
    background-color: #f5f5ff;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* section 3 box card icons */
#s3-icon{
    background-color: white;
    color: #69d197;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    font-weight:bolder;
    box-shadow: 0px -2px 20px 0px whitesmoke;
    border-radius: 200px ;
    
}

/* section 3 row icons */
#cd-ro-icon-12{
    font-size: 20px;
    
}
/* icons */
.bi-eye{
    color: #ffbe54;
} 
.bi-infinity{
   color: #5878fe;
} 
.bi-mortarboard{
    color: #e80367;
} 
.bi-nut{
    color: #e36aff;
} 
.bi-shuffle{
    color: #a6defe;
} 
.bi-star{
    color: #ffab6f;
} 
.bi-x-diamond{
    color: #83e0d2;
} 
.bi-camera-video{
    color: #6433fe;
} 
.bi-command{
    color: #b29258;
} 
.bi-dribbble{
    color: #b20868;
} 
.bi-activity{
    color: #fe743d;
} 
.bi-brightness-high{
    color: #95e1a7;
}
/* icon text */
#s2-p-title{
    color: #261b7a;
}

/* ============================ Section 4 => Details ===================================*/
/* section title */
.section-title {
    color: #040577;
    font-weight: 700;
}

/* hr line */
.hr-top{
    background-color: #20cd91;
    height: 2px;
    border: none;
    margin-left: 56px;
    margin-right: 85%;
    margin-top: -9px;
}
/*  */
.check-list {
    list-style-type: none;
    padding-left: 0;
}
.check-list li:before {
    content: "✔";
    color: #52cc8e;
    padding-right: 10px;
}
.img-fluid {
    border-radius: 10px;
    width: 400px;
}

/* ============================ Section 5 => Gallery ===================================*/
.gallery img {
    
    transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(1.05);
}

/* ============================ Section 6 => Customer Reviews ===================================*/
.review-section {
    background: linear-gradient(rgb(27, 21, 107, 0.7),rgb(27, 21, 107, 0.7)), 
    url('./img/testimonials-bg.jpg') no-repeat center center/cover;
    position: relative;
    color: white;
    padding: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.review-section img {
    border: 4px solid #2f306c;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.owner-profile-name{
    margin-bottom: -5px;
    margin-top: -5px;
}
.store-owner{
    color: #5f5b85;
    font-weight: 600;
    font-size: smaller;
    margin-top: -15px;
}
#review-star{
    justify-content: center;
    font-size: small;
    margin-top: -15px;
    color: #fec107;
}
.customer-reviews{
    color: #f3f3f6;
    text-align: center;
    font-size: smaller;
    margin-top: -25px;
}
.customer-reviews::before{
    content: "❝";
    font-size: 40px;
    color: #9692ae;
    padding-right: 1px;
}
.customer-reviews::after{
    content: "❞";
    font-size: 40px;
    color: #9692ae;
    padding-right: 1px;
}

/* ===================================== Section 7 => Team ============================================= */
.team-member {
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
}
.team-member img {
    /* border-radius: 100%; */
    width: 250px;
    height: 250px;
    padding: 0px;
    object-fit: cover;
}
.social-icons {
    margin-top: 10px;
}
.social-icons a {
    margin: 0 5px;
    text-decoration: none; 
}
.bi-twitter, 
.bi-facebook, 
.bi-instagram,
.bi-linkedin{
    color: #c6c6c6;
}

.bi-facebook:hover{
    color: #0866ff;
}
.bi-instagram:hover{
    color: #f70092;
}
.bi-linkedin:hover{
    color: #0077b5;
}
.bi-twitter:hover{
    color: #24a4f2;
}

#team-card-body{
    margin-left:15px;
    margin-right: 15px;
    margin-top: -50px;
}
/* transition col */
#transition-col {
    
    transition: transform 0.3s;
}
#transition-col:hover {
    transform: scale(1.05);
}

/* ================================== Section 8 => Pricing =================================*/
.pricing-card {
    background-color: #f7fdfb;
    /* border: 1px solid #e0e0e0; */
    border-radius: 10px;
    padding: 30px;
    /* text-align: center; */
    margin-bottom: 30px;
    transition: transform 0.3s;
}
.pricing-card-title{
    color: #04068c;
}
.pricing-card:hover {
    transform: scale(1.05);
}
.pricing-card > p, li, .pricing-month {
    color: #797b80;
}
.pricing-month{
    font-size: 15px;
}
#badge-popular{
    padding: 5px;
    margin-left: 100px;
}
/* popular border 2px green */
/* .popular {
    border: 2px solid #4CAF50;
    border-radius: 10px;
   
} */
.pricing-color{
    color: #39cb8d;
    
}
.list-unstyled > li{
    line-height: 2;
}
.check-icon::before {
    content: "✓";
    color: #4CAF50;
    font-size: 15px;
    font-weight: 800;
}
.cross-icon::before {
    content: "✗";
    color: #e74c3c;
    font-size: 15px;
    font-weight: 800;
}


/* =================================== Section 9 => FAQ ========================================*/
#faq-section{
    align-items: center;
    background-color: #f5f5ff;
    
}
#faq-img{
    width: 600px; 
    height:400px;
    margin-right: 10px;
}

.text-left {
    color: #031181;
    
}
.bi-question-circle{
    color: #64d0a8;
    margin-right: 5px;
    
}
.accordion-header {
  color: #031181;
  
}
.accordion-item{
    margin-bottom: 10px;
}

/* ========================== Section 10 => Contact =================================*/
.container > h4 {
    margin-top: -10px;
    color: #031181;
    font-weight: 600;
}
.contact-section {
    background-color: #f7f9fc;
    padding: 30px;
    border-radius: 10px;
}
.contact-info {
    margin-bottom: 20px;
}
.contact-info i {
    color: #4CAF50;
    margin-right: 10px;
    background-color: #ecfbf6;
    border-radius: 200px;
    padding: 5px;
    
}
.contact-info a {
    text-decoration: none;
    margin-left: 40px;
    color: #9f9aa0;
    font-weight: 500;
}
.contact-info strong{
    color: #031181;

}
.form-control {
    margin-bottom: 15px;
}
.send-button {
    display: block; /* Makes the button behave like a block element */
    margin: 0 auto; /* Centers the button horizontally */
    padding: 5px 15px;
    background-color: #1acc8e;
    border: none;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.send-button:hover {
    background-color: #45a049;
}


/* ========================== Section 11 => Footer =================================*/

.footer {
    padding: 40px 0;
    background-color: #07005f;
    color: white;
}
.footer a {
    color: #a2afaf;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.newsletter-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.btn-subscribe {
    padding: 5px;
    background-color: #1acc8e;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px ;
    margin-bottom: 10px;
    margin-left: 0px;
}
.btn-subscribe:hover {
    background-color: #45a049;
}
.footer-social-icons i {
    margin: 0px;
    margin-left: -9px;
    border: 2px solid #625d98;
    border-radius: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    
}
#footer-text-color {
    color: #a2afaf;
    text-decoration: none;

}


/* ==================== Arrow Up button ===================== */
/* body {
    height: 2000px;
    background-color: #f8f9fa;
} */

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

/* Bounce animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.btn-bounce {
    animation: bounce 0.9s infinite;
}


/* Responsive Design */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        background: rgba(26, 21, 105, 0.9);
        padding: 20px;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        border-radius: 0 0 10px 10px;
    }

    .nav-menu.show {
        display: flex;
    }

    .nav-toggler {
        display: block;
    }

    .banner-content {
        text-align: center;
    }

    .banner {
        flex-direction: column;
    }
    .banner-img{
        margin-top: 20px;
        
    }
}
